.pane {
    margin-bottom: 80px;
    padding: 16px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
    
    &__wrap {
        max-width: 1440px;
        margin: 0 auto;

        background-color: #fff;
    }

    & ul {
        margin: 0;
        padding: 0;

        list-style: none;
    }

    & li {
        display: flex;
        align-items: center;        
        margin: 12px 0;
    }
        
        
    & li:hover {
        cursor: pointer;
    }

    & svg {
        margin-right: 35px;
    }

    & hr {
        width: 228px;
        height: 1px;
        margin: 0 -16px;

        background-color: rgba(0, 0, 0, 0.12);
        border: none;
    }

    & .tool {
        &--active {
            background-color: rgb(253, 223, 235);
        }
    }

    &__tools {
        top: 80px;
        left: 30px;
    }

    &__colors {
        top: 420px;
        left: 30px;
    }
    & .line-icon {
        width: 20px;
        height: 20px;
        margin-top: 7px;
        margin-left: 5px;
        margin-right: 30px;
    
        border-left: 1px solid rgba(0, 0, 0, 0.8);
        transform: rotate(45deg);
    }
}

.pencil--active {
    cursor: url('../assets/img/pencil.svg') 0 0, auto;
}