@import './vars';

.netlify-identity-menu {
    display: flex;
    justify-content: space-between;

    list-style: none;
}

.netlify-identity-item a {
    display: block;
    padding: 0 10px;

    font-family: Roboto, Arial, serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;

    background-color: $btn-green;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:hover, &:focus {
        color: rgb(230, 230, 230);

        background-color: $btn-green;
        box-shadow: 2px 2px 7px $btn-green-hover,
        -2px -2px 7px $btn-green-hover;
    }

}

.netlify-identity-item:first-child {
    margin-right: 15px;
}
