@import './vars';

body {
    min-width: 600px;
    width: 100%;
    height: 100%;

    font-family: Roboto, Arial, serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;

    background-color: $dark;;

    color: $font-for-dark-bg;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
	white-space: nowrap;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page__wrap {
    position: relative;
}

.main {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 200px);
    margin: 0 60px 0 110px;
}

.column {
    &--main {
        position: absolute;
        top: 70px;
        bottom: 0;
        left: 235px;

        width: calc(100% - 520px);

        background-color: $grey;
    }

    &--right {
        width: 200px;
        margin-left: 10px;
    }
}

.drawing-section {
    flex-grow: 1;
    
    text-align: center;

    & input[type="text"] {
        margin: 0 10px;
        padding: 5px;

        font-size: 14px;
        line-height: 14px;
        color: rgba(0, 0, 0, 0.7);
    }
}

.tip {
    &::before, &::after {
        position: absolute;

        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
    }
    &::before {
        content: attr(data-tooltip);

        min-width: 60px;
        padding: 5px 10px;

        font-size: 12px;
        color: #fff;
        line-height: 20px;
        background: #000;
        border-radius: 7px;
        left: calc(50% + 25px);

    }
    &::after {
        content: "";
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-right-color: #000;
        left: calc(50% + 10px);
    }

    &:hover::before, &:hover::after {
        opacity: 1;
        visibility: visible;
    }
    
    &:hover::before {
        top: 10px;
        z-index: 1000;
    }

    &:hover::after {
        top: 17px;
    }
}

.fps {
    &__wrap {
        display: flex;
    }

    &__value {
        width: 50px;
        margin: 0;
        margin-right: 5px;
        padding: 5px;

        text-align: right;
        font-size: 14px;
        line-height: 20px;
        color: $grey-light;
    }
    &__input {
        cursor: pointer;
    }
}

.cursor {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    opacity: 0.5;
    
}
