@import '../../sass/vars.scss';

.canvas {
    flex-grow: 1;
    &__wrap {
        text-align: center;
        
        background-color: $grey;
    }

    &__main {
        background-image: url(./img/canvas-bg.png);
        background-repeat: repeat;
    }
}