@import '../../sass/vars.scss';

.canvas {
    width: 100%;
    height: 100%;

    image-rendering: pixelated;

    background-image: url(./img/canvas-bg.png);
    background-repeat: repeat;

    &__wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        width: 100%;
        height: 100%;
        margin: auto;
    }

    &-resolutions {
        &__title {
            margin: 0;
            padding: 0;

            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
        }

        &__list {
            display: flex;
            margin: 0;
            margin-bottom: 20px;
            padding: 0;

            list-style: none;
        }
    }

    &--above{
        position: absolute;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;

        image-rendering: pixelated;
        display: none;
    }
}

.resolution {
    margin-right: 10px;
    &__btn {
        padding: 0 5px;
        background-color: rgba($color: $grey-light, $alpha: 1);
        border: none;

        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
        &:hover, &:focus, &--active {
            background-color: $green;

            outline: none;
        }
        &:hover, &:focus {
            box-shadow: 1px 1px 4px $green, -1px -1px 4px $green;
            cursor: pointer;
        }
        &:active {
            box-shadow: none;
        }
    }

}