@import '../../sass/vars.scss';

.canvas {
    background-image: url(./img/canvas-bg.png);
    background-repeat: repeat;

    &__wrap {
        flex-grow: 1;
        text-align: center;
        
        background-color: $grey;
    }

    &-resolutions {
        &__title {
            margin: 0;
            padding: 0;

            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
        }

        &__list {
            display: flex;
            margin: 0;
            margin-bottom: 20px;
            padding: 0;

            list-style: none;
        }
    }
}

.resolution {
    margin-right: 10px;
    &__btn {
        padding: 0 5px;
        background-color: rgba($color: $grey-light, $alpha: 1);
        border: none;

        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
        &:hover, &:focus, &--active {
            background-color: $green;

            outline: none;
        }
        &:hover, &:focus {
            box-shadow: 1px 1px 4px $green, -1px -1px 4px $green;
            cursor: pointer;
        }
        &:active {
            box-shadow: none;
        }
    }

}