.nav {
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    
    &__main {
        width: 18px;
        height: 12px;
        margin-right: 35px;

        background-image: url(../assets/img/nav-icon.svg);
    }

    &__user {

        & button {
            font-family: Roboto, Arial, serif;
            font-size: 16px;
            line-height: 24px;
            font-style: normal;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.6);

            background: none;
            border: 1px solid rgba(0, 0, 0, 0);

            &:hover, &:focus {
                background-color: rgba(253, 223, 235, .5);
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 7px rgba(253, 223, 235, .5),
                            -2px -2px 7px rgba(253, 223, 235, .5);
            }
            &:active {
                box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
            }
        }
    }

}