.nav {
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    
    &__main {
        width: 18px;
        height: 12px;
        margin-right: 35px;

        background-image: url(../assets/img/nav-icon.svg);
    }

    &__user {
        width: 12px;
        height: 24px;

        background-image: url(../assets/img/nav-user-icon.svg);
    }
}