body {
    font-family: Roboto, Arial, serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
    
    background-color: #E5E5E5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

main {
    display: flex;
    padding: 0 20px 50px;
}

h1 {
    flex-grow: 1;
    margin: 0;
    padding: 0;

    font-style: normal;
    font-size: 20px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.87);
}

label {
    cursor: pointer;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
	white-space: nowrap;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page__wrap {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;

    background-color: #fff;
}

.drawing-section {
    flex-grow: 1;
    
    text-align: center;
}

.canvas {
    &--style {
        border: 1px solid rgba(0, 0, 0, 0.4);
    }
    
    &__buttons {
        & button {
            font-family: Roboto, Arial, serif;
            font-size: 16px;
            line-height: 24px;
            font-style: normal;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.6);
            text-align: center;
            
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.4);

            &:hover, &:focus {
                background-color: rgb(253, 223, 235);
            }
            &:active {
                box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
            }
        }
    }
}