body {
    font-family: Roboto, Arial, serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
    
    background-color: #E5E5E5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

main {
    display: flex;
    padding: 0 20px 50px;
}

h1 {
    flex-grow: 1;
    margin: 0;
    padding: 0;

    font-style: normal;
    font-size: 20px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.87);
}

label {
    cursor: pointer;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
	white-space: nowrap;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page__wrap {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;

    background-color: #fff;
}

.drawing-section {
    flex-grow: 1;
    
    text-align: center;

    & input[type="text"] {
        margin: 0 10px;
        padding: 5px;

        font-size: 14px;
        line-height: 14px;
        color: rgba(0, 0, 0, 0.7);
    }
}


.canvas {
    &__wrapper {
        flex-grow: 1;
        width: 512px;
        height: 512px;
        margin: 0 auto;
    }

    &--style {
        width: 100%;
        height: 100%;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABlBMVEVMTExVVVUnhsEkAAAAHUlEQVR4AWOAAUYoQOePEAUj3v9oYDQ9gMBoegAAJFwCAbLaTIMAAAAASUVORK5CYII=') repeat;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }
    
    &__buttons {
        width: 512px;
        margin: 0 auto;
        padding: 10px 0;

        text-align: center;

        & button {
            margin-right: 15px;
            margin-bottom: 15px;

            font-family: Roboto, Arial, serif;
            font-size: 16px;
            line-height: 24px;
            font-style: normal;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.6);
            text-align: left;
            
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.4);

            &:hover, &:focus {
                background-color: rgb(253, 223, 235);
            }
            &:active {
                box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
            }
        }
    }

    &__resolution {
        span {
            margin-right: 15px;
        }
    }
}

button.res-active {
    background-color: rgb(253, 223, 235);
    box-shadow: 2px 2px 5px rgb(253, 223, 235);
}

.netlify-identity-menu {
    display: flex;
    justify-content: space-between;

    list-style: none;
}

.netlify-identity-item a {
    display: block;
    padding: 0 10px;

    font-family: Roboto, Arial, serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;

    border: 1px solid rgba(0, 0, 0, 0.2);

    &:hover, &:focus {
        background-color: rgba(253, 223, 235, .5);
        box-shadow: 2px 2px 5px rgb(253, 223, 235);
        color: rgba(0, 0, 0, 0.6);
    }
    &:active {
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
    }
}

.netlify-identity-item:first-child {
    margin-right: 15px;
}

.modal {
    &__no-image {
        position: fixed;
        top: 25%;
        left: 50%;

        padding: 20px;

        background-color: rgba(255, 255, 255, .8);
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        z-index: 2;
        
        display: none;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
    
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;

        display: none;
    }
}

.display-block {
    display: block;
}